@font-face {
    font-family: 'IranNastaliq';
    src: url('../../asset/Fonts/IranNastaliq.ttf');
}
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji","IranNastaliq";
    --font-primary: "Montserrat", sans-serif ,"IranNastaliq";
    --font-secondary: "Raleway", sans-serif,"IranNastaliq"; 
}
  
  
/* Colors */
:root {
    --color-default: #2b180d;
    --color-primary: #56b8e6;
    --color-secondary: #1b2f45;
}
div.Home{
    background: var(--color-secondary);
}
.error-message-page-container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}
.error-message-container{
    min-width: 40vw;
    min-height: 10vh;
    max-width: fit-content;
    max-height: fit-content;
    background-color: #a03535;
    margin-left: 10vw;
    margin-top : 10vh;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.error-close-icon{
    font-size: 20px;
}
.error-close-icon-container{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: auto;
}
.error-close-icon-container:hover{
    background: #000;
    transition: all .5s;
}
.error-icon-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
