
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Raleway", sans-serif; 
}
  
/* Colors */
:root {
    --color-default: #2b180d;
    --color-primary: #144272;
    --color-secondary: #1b2f45;
    --color-a : #e9d4c1;
    --color-button :#144272;
}

div .concert-container{
    padding-top: 5vh;
    background: #021530;
    width: 100vw;
    height: 80vh;
    display: inline-flex;
    box-shadow: inset 0px 0px 20px 10px #000
}
div .concert-container .image{
    background: url('../../asset/images/Home-concert.jpg');
    background-size: cover;
    width: 80vw;
    height: 60vh;
    border-radius: 20px;
    margin-left: 10vw;
    filter: blur(10px);
}

div .concert-container .text{
    width: 70vw;
    height: 50vh;
    margin-top: 5vh;
    position: absolute;
    margin-left: 15vw;
    color: var(--color-a);
    font-size: 15px;
    font-family: var(--font-default);
}
div .academies-container .text blockquote {
    border-left: 3px solid var(--color-a);
    font-size: 15px;
    font-family: var(--font-default);
}
div .concert-container .text blockquote p{
    margin-left: 10px;
}
@media (max-height : 400px){
    div .concert-container .text blockquote {
        border-left: 0px;
        border-bottom: 3px solid var(--color-a);
        display: inline-flex;
        flex-wrap: wrap;
        font-size: 12px;
    }
    div .concert-container .text blockquote {
    border-left: 3px solid var(--color-a);
    font-size: 15px;
    font-family: var(--font-default);
    }
    div .concert-container .text blockquote p{
        margin-left: 10px;
    }
}
.error-message-page-container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}
.error-message-container{
    min-width: 40vw;
    min-height: 10vh;
    max-width: fit-content;
    max-height: fit-content;
    background-color: #a03535;
    margin-left: 10vw;
    margin-top : 10vh;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.error-close-icon{
    font-size: 20px;
}
.error-close-icon-container{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: auto;
}
.error-close-icon-container:hover{
    background: #000;
}
.error-icon-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
