:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Raleway", sans-serif;
}
  
/* Colors */
:root {
    --color-default: #2b180d;
    --color-primary: #56b8e6;
    --color-secondary: #1b2f45;
}
div.Home{
    background: var(--color-secondary);
}