root{
    background: var(--color-secondary);
}
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Raleway", sans-serif; 
}
  
/* Colors */
:root {
    --color-default: #2b180d;
    --color-primary: #144272;
    --color-secondary: #1b2f45;
    --color-a : #e9d4c1;
    --color-button :#144272;
}

div .academies-container{
    padding-top: 5vh;
    background: #3d0409;
    width: 100vw;
    height: 80vh;
    display: inline-flex;
    box-shadow: inset 0px 0px 20px 10px #000
    
}
div .academies-container .image{
    background: url('../../asset/images/Home-academies.jpg');
    background-size: cover;
    width: 80vw;
    height: 60vh;
    border-radius: 20px;
    margin-left: 10vw;
    filter: blur(2px);
}

div .academies-container .text{
    width: 70vw;
    height: 50vh;
    margin-top: 5vh;
    position: absolute;
    margin-left: 15vw;
    color: var(--color-a);
    font-size: 15px;
    font-family: var(--font-default);
}
div .academies-container .text blockquote {
    border-left: 3px solid var(--color-a);
    font-size: 15px;
    font-family: var(--font-default);
}
div .academies-container .text blockquote p{
    margin-left: 10px;
}
@media (max-height : 400px){
    div .academies-container .text blockquote {
        border-left: 0px;
        border-bottom: 3px solid var(--color-a);
        display: inline-flex;
        flex-wrap: wrap;
        font-size: 12px;
    }
}