/frontend/asan-melody/.next
/frontend/asan-melody/node_modules
/frontend/asan-melody/public
/frontend/asan-melody/package-lock.json
/backend/profiles
/backend/classes_image
/backend/src/.env
/backend/node_modules
/backend/src/access.log
/backend/src/messages.txt
/backend/package-lock.json