:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Raleway", sans-serif; 
}
  
/* Colors */
:root {
    --color-default: #691822;
    --color-primary: #144272;
    --color-secondary: #1b2f45;
    --color-a : #e9d4c1;
}


html{
    background-color: var(--color-default);
    background-image: linear-gradient(to bottom left,#691822,#273f3d,#691822);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.class-container{
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 10vw;
    display: flex;
}

.class-picture{
    background: url('../../../public/add-class.jpg');
    background-size: cover;
    width: 30vw;
    height: 80vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
}
.class-picture p{
    color: var(--color-a);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    font-size: 25px;
    font-family: var(--font-default);
}
.class-controll{
    background-color: blanchedalmond;
    width: 50vw;
    height: 80vh;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
    max-width: fit-content;
    max-height: fit-content;
    display: inline;
    overflow: auto;
    text-overflow: ellipsis;
}

.froms{
    margin-left: 15vw;
    margin-right: 10vw;
    margin-top: 2vh;
}
.header-text{
    font-weight: bold;
    text-align: left;
    margin-left: 20%;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--color-default);
    font-family: var(--font-default);

}
#register{
    text-align: center;
    font-size: 15px;
    color: var(--color-default);
    font-family: var(--font-default);
}
#error{
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: var(--color-default);
    font-family: var(--font-default);
}
#register a{
    text-decoration: none;
    color: var(--color-primary);
    font-family: var(--font-default);
}
#register a:hover{
    color: var(--color-default);
}
.form-group {
    margin-bottom: 10px;
}

.form {
    border: solid var(--color-default);
    background-color: white;
    border:none;
    width: 20vw;
    margin-top: 3vh;
    padding: 10px 10px;
    border-radius: 5px;
}
label{
    margin-right: 4px;
}
.icon{
    color: #470a11;
}
input{
    border: none;
    outline: none;
    background: none;
}
select{
    width:  90%;
    border: none;
    outline: none;
    background: none;
}
.form option{
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    background: #FFF;
    color: var(--color-primary);
}

button {
    margin-top: 10vh;
    margin-left: 5vw;
    width: 10vw;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
} 
.form-file1{
    background: #df4fcd;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    border-radius: 50%;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin-left: 30%;
} 
.form-file1:hover{
    padding: 20px;
}
.form-file1 input{
    display: none;
}
.file-icon{
    font-size: 30px;
    color: var(--color-default);
} 
@media (max-height:740px) {
    .froms{
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 5vh;
    }
}
@media (max-width : 1100px){
    .froms{
        margin-left: 2vw;
        margin-right: 20vw;
        margin-top: 1vh;
    }
    .class-container{
        width: 90vw;
        height: 90vh;
        margin-top: 5vh;
        margin-left: 5vw;
    }
    .class-picture{
        display: none;
    }
    .class-controll{
        width: 90vw;
        height: 90vh;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 50px;
    }
    .header-text{
        font-size: 20px;
        margin-left: 40%;
    }
    .form-group {
        margin-bottom: 10px;
    }
    input{
        font-size: 15px;
    }
    select{
        font-size: 15px;
    }
    .form {
        border:none;
        width: 80vw;
        height: 3vh;
    }
    button {
        margin-top: 10vh;
        margin-left: 25vw;
        width: 30vw;
    } 
    .form-file1{
        margin-left: 50%;
    } 
}