@font-face {
    font-family: 'IranNastaliq';
    src: url('../asset/Fonts/IranNastaliq.ttf');
}
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji","IranNastaliq";
    --font-primary: "Montserrat", sans-serif ,"IranNastaliq";
    --font-secondary: "Raleway", sans-serif,"IranNastaliq"; 
}
  
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    padding: 0;
    margin: 0px;
    background-color: #755fa8;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.error-page-container{
    width: 90vw;
    height: fit-content;
    background: #2c2244;
    padding: 40px;
    color: #b28303;
    margin-top: 30vh;
}