:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: Arial, Helvetica, sans-serif;
    --font-secondary: "Raleway", sans-serif; 
}
  
/* Colors */
:root {
    --color-div: #27293d;
    --color-primary: #1e1e2f;
    --color-secondary: #df4fcd;
    --color-a : #FFF;
    --color-header : #1d1d2e;
    --color-input : #363956;
    --color-text : #bfbfc1;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0px;
    background-color: var(--color-primary);
    border-top: 2px solid var(--color-secondary);
}
.tasks{
    display: flex;
}

.admin-header{
    width: 100%;
    height: 8vh;
    background: var(--color-header);
}
.admin-header h1{
    color: var(--color-a);
    text-align: left;
    padding-top: 3vh;
    font-size: 2vh;
    font-weight: lighter;
    text-transform: uppercase;
    margin-left: 20px;
    font-family: var(--font-primary);
}
.page-container{
    display: inline-flex;
}
#error{
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: var(--color-default);
    font-family: var(--font-default);
}
.nav-container{
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--color-secondary);
    width: fit-content;
    height: 90vh;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.nav-container:hover {
    width: fit-content;
    height: 90vh;
}
.nav-container:hover .nav-link{
    display: inline;;
}
.nav-link-icon{
    font-size: 2vh;
    color: var(--color-a);
    display: inline;
}
.nav-link{
    color: var(--color-a);
    display: none;
    margin-left: 10px;
    font-size: 2vh;
    white-space: nowrap;
}
.nav-item{
    display: inline-flex;
    margin: 10px;
    flex-grow: 1;
}
.nav-item-p{
    display: inline-flex;
    margin: 10px;
    flex-grow: 1;
    width: 2vw;
}
.nav-p{
    transform: rotate(90deg);
    color: var(--color-a);
    padding: 0px;
    font-size: 30px;
    margin-top: 15vh;
    transform-origin: left bottom;
    white-space: nowrap; 
    text-transform: uppercase;
}
.organ-table-container{
    width: 90vw;
    height: 90vh;
    margin : 20px;
    overflow: auto;
}
.organ-table{
    background: var(--color-div);
    color: var(--color-a);
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
}
.organ-table tr{
    padding: 10px;
}
.organ-table td {
    border-top: 1px solid var(--color-text);
    text-align: left;
    margin: 5px;
    font-family: var(--font-primary);
    color: var(--color-text);
    padding: 10px;
}
.organ-table th  {
    text-align: left;
    margin: 5px;
    font-family: var(--font-primary);
    color: var(--color-text);
    padding: 10px;
}
.admin-page{
    z-index: -1;
}
.image{
    filter: none;
    position: absolute;
    margin-top: 35vh;
    margin-left: 35vw;
    border-radius: 10px;
}

.image img{
    width: 25vw;
    height: auto;
    background-size: cover;
    border-radius: 10px;
}
.close-icon{
    position: absolute;
    font-size: 200%;
    color: #FFF;
    background-color: rgba(94,94,94,0.9);
    filter: opacity(200px);
    border-radius: 5px;
}
.file-icon1{
    font-size: 22px;
    color: var(--color-header);
    background: #df4fcd;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.file-icon2{
    font-size: 22px;
    color: var(--color-header);
    background: #00f2c3;
    background-image: linear-gradient(to bottom left,#00f2c3,#0098f0,#00f2c3);
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.table-image {
    width: 40PX;
    height: 40PX;
    background-size:cover;
    border-radius: 50%;
}
.table-input{
    background: var(--color-input);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
    width: 100%;
}
.table-input-btn{
    background: var(--color-input);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.table-input-btn2{
    background: var(--color-input);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    display: none;
    width: 0px;
    height: 0px;
}
.table-input-btn:hover{
    background: var(--color-text);
    color: var(--color-input);
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.add-link{
    border-radius: 5px;
    width: fit-content;
    display: inline-flex;
    font-family: var(--font-primary);
    color: var(--color-text);
    background: var(--color-input);
    padding: 10px;
    margin: 10px;
}
.add-link p{
    font-size: 15px;
    margin-top: 2%;
}
.add-link:hover{
    background: var(--color-text);
    color: var(--color-input);
}
.add-icon{
    font-size: 20px;
}
header.admin-header{
    font-family: var(--font-primary);
}

nav.login-header-nav{
    position: fixed;
    z-index: 2;
    height: 8vh;
    width: 100vw;
}
label.login-logo{
    color: var(--color-a);
    text-transform: uppercase;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    display: inline-block;
    float: none;
}

nav.login-header-nav ul.links{
    float: right;
    margin-right: 20px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--color-primary);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav.login-header-nav ul.links li{
    display: block;
    line-height: 80px;
    margin: 0 5px;
}

nav.login-header-nav ul.links li a{
    color: var(--color-a);
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    text-decoration: none;
}
nav.login-header-nav ul.links li a:hover{
    color : var(--color-secondary);
    transition: .5s;
}
.login-checkBtn{
    font-size: 30px;
    color: #FFF;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: block;
}
#login-check{
    display: none;
}

.user-checkBtn{
    font-size: 30px;
    color: #FFF;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    display: block;
}
#user-check{
    display: none;
}

.user-info-p{
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-a);
    display: inline;
    line-clamp: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-info-label{
    display: inline;
    margin-right: 2px;
}
.user-info{
    background-color: var(--color-secondary);
    border: 1px solid var(--color-a);
    border-radius: 10px;
    min-width: 250px;
    min-height: 350px;
    max-width: fit-content;
    max-height: fit-content;
    position: fixed;
    margin-left: 40px;  
    padding: 10px;
}
.user-info-a{
    text-decoration: none;
}
.user-info-content{
    max-width: 20vw;
    margin-top: 20px;
    margin-left: 20px;
}
.logout{
    text-decoration: none;
    
}
.logout-box{
    background: var(--color-a);
    width: 70px;
    height: 30px;
    text-align: center;
    margin-left: 90px;
    margin-top: 40px;
    color: var(--color-secondary);
    font-family: var(--font-default);
    border-radius: 4px;
    padding: 10px;
}
.logout-box:hover{
    background: var(--color-secondary);
    width: 70px;
    height: 30px;
    text-align: center;
    margin-left: 90px;
    margin-top: 40px;
    color: var(--color-a);
    font-family: var(--font-default);
    border-radius: 4px;
    border: 2px solid var(--color-a);
}
.icon-header{
    color: var(--color-a);
}
.icon-header:hover{
    color: darkgrey;
}
.user-info-p:hover{
    color: darkgrey;
}
.icon-in-header{
    color: var(--color-a);
}
.icon-in-header:hover{
    color: darkgrey;
}
@media (max-width : 1495px){
    label.login-logo{
        padding: 5px 20px;
        font-size: 20px;
    }

    nav.login-header-nav ul.links li a{
        font-size: 20px;
    }
    nav.login-header-nav ul.links li a:hover{
        background-color: var(--color-primary);
        border: 0px;
        border-radius: 5px;
    }
    .login-checkBtn{
        font-size: 25px;
    }
    .user-checkBtn{
        font-size: 20px;
    }

}
.Home-icon{
    color: var(--color-a);
}
.error-message-page-container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}
.error-message-container{
    min-width: 40vw;
    min-height: 10vh;
    max-width: fit-content;
    max-height: fit-content;
    background-color: #a03535;
    margin-left: 10vw;
    margin-top : 10vh;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.error-close-icon{
    font-size: 20px;
}
.error-close-icon-container{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: auto;
}
.error-close-icon-container:hover{
    background: #000;
}
.error-icon-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
