:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Raleway", sans-serif; 
}
  
/* Colors */
:root {
    --color-default: #1e0430;
    --color-primary: #144272;
    --color-secondary: #1b2f45;
    --color-a : #e9d4c1;
}


body{
    background-color: var(--color-default);
}

.signup-container{
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 10vw;
    display: flex;
}

.signup-picture{
    background: url('../asset/images/signup-image.jpg');
    background-size: cover;
    width: 30vw;
    height: 80vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
}
.signup-picture p{
    color: var(--color-a);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    font-size: 25px;
    font-family: var(--font-default);
}
.signup-controll{
    background-color: #9177d6;
    width: 50vw;
    height: 80vh;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
}

.signup-froms{
    margin-left: 15vw;
    margin-right: 10vw;
    margin-top: 2vh;
}
.header-text{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--color-default);
    font-family: var(--font-default);

}
#register{
    text-align: center;
    font-size: 15px;
    color: var(--color-default);
    font-family: var(--font-default);
}
#error{
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: var(--color-default);
    font-family: var(--font-default);
}
#register a{
    text-decoration: none;
    color: var(--color-primary);
    font-family: var(--font-default);
}
#register a:hover{
    color: var(--color-default);
}
.form-group {
    margin-bottom: 10px;
}

.form {
    border: solid var(--color-default);
    background-color: white;
    border:none;
    width: 20vw;
    margin-top: 3vh;
    padding: 10px 10px;
    border-radius: 5px;
}
label{
    margin-right: 4px;
}
.icon{
    color: #470a11;
}
input{
    border: none;
    outline: none;
    background: none;
}

button {
    margin-top: 10vh;
    margin-left: 5vw;
    width: 10vw;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
} 
@media (max-height:740px) {
    .login-froms{
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 5vh;
    }
}
@media (max-width : 1100px){
    .signup-froms{
        margin-left: 2vw;
        margin-right: 20vw;
        margin-top: 1vh;
    }
    .signup-container{
        width: 90vw;
        height: 90vh;
        margin-top: 5vh;
        margin-left: 5vw;
    }
    .signup-picture{
        display: none;
    }
    .signup-controll{
        width: 90vw;
        height: 90vh;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 50px;
    }
    .header-text{
        font-size: 20px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    input{
        font-size: 15px;
    }
    .form {
        border:none;
        width: 80vw;
        height: 3vh;
    }
    button {
        margin-top: 10vh;
        margin-left: 25vw;
        width: 30vw;
    } 
}
.error-message-page-container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
}
.error-message-container{
    min-width: 40vw;
    min-height: 10vh;
    max-width: fit-content;
    max-height: fit-content;
    background-color: #a03535;
    margin-left: 10vw;
    margin-top : 10vh;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.error-close-icon{
    font-size: 20px;
}
.error-close-icon-container{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    margin: auto;
}
.error-close-icon-container:hover{
    background: #000;
}
.error-icon-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
