/*Fonts*/
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Raleway", sans-serif; 
}
  
/* Colors */
:root {
    --color-default: #2b180d;
    --color-primary: #144272;
    --color-secondary: #1b2f45;
    --color-a : #e9d4c1;
    --color-button :#144272;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header.main-header{
    font-family: var(--font-primary);
}

nav.header-nav{
    position: fixed;
    z-index: 2;
    height: 8vh;
    width: 100vw;
}
label.logo{
    color: var(--color-a);
    text-transform: uppercase;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav.header-nav ul{
    float: right;
    margin-right: 20px;
}
nav.header-nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}
nav.header-nav ul li a{
    color: var(--color-a);
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    text-decoration: none;
}
nav.header-nav ul li a:hover{
    color : var(--color-secondary);
    transition: .5s;
}
.checkBtn{
    font-size: 30px;
    color: #FFF;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}

@media (max-width : 1495px){
    label.logo{
        padding: 5px 20px;
        font-size: 25px;
    }
    .checkBtn {
        display: block;
    }
    nav.header-nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color-secondary);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav.header-nav ul li{
        display: block;
    }
    nav.header-nav ul li a{
        font-size: 20px;
    }
    nav.header-nav ul li a:hover{
        background-color: var(--color-primary);
        border: 0px;
        border-radius: 5px;
    }
    #check:checked ~ ul{
        left: 0%;
    }
}
